.tableAPI {
    width: 100%;
    border-collapse: collapse;
}

.tableAPI th,
.tableAPI td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tableAPI th {
    background-color: #f2f2f2;
    text-align: left;
}
 