.card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
  }
  
  .card h2 {
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 0;
  }